# ======================
# FLUTTER
# ======================
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/build/

# Windows / Linux / Mac Flutter folders
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# ======================
# PYTHON / BACKEND
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# FastAPI / local storage
storage/
*.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db